.order-info{
    background-color: rgba(255, 153, 0, 0.27);
    height: 100vh;
    position: sticky;
    top: 0;
    color: #1C2B35;
    padding: 30px 20px;
}
.order-info h2{
    margin-top: 0;
    margin-bottom: 80px;
}
.btn-group{
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 10px;
    margin-top: 50px;
}
.btn-group button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.btn-group button p{
    padding: 2px 5px;
    font-size: 16px;
}